.required {
    position: relative;
}

.required::after {
    content: "*";
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    background-color: deeppink;
    border: 2ox solid sienna;
}
