* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color: rgba(255, 255, 255, 0.8);
}

body {
    min-height: 100dvh;
    padding: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) no-repeat center center, url(https://images.freecreatives.com/wp-content/uploads/2016/04/Abstract-Scenery-Wallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

form {
    width: 60%;
    margin: auto auto auto auto;
    padding: 2rem;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

form>h2 {
    max-width: max-content;
    max-height: max-content;
    margin-bottom: 10px;
    background: linear-gradient(45deg, yellow, cyan, lightgreen, orange);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

form>label,
form>#gender>label,
form>input {
    display: block;
    width: 100%;
}

form>input,
#gender {
    height: 50px;
    margin-bottom: 15px;
    background: transparent;
    border: 1px solid #00ffff80;
}

form>input {
    padding: 15px;
    color: cyan;
    transition: all 0.4s ease-in-out;
}

form>input:focus {
    box-shadow: 0 0 10px cyan;
}

form>label {
    margin-bottom: 5px;
}

#gender {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

#gender>label {
    width: auto !important;
}

#gender>div {
    display: flex;
    gap: 5px;
}

#gender>div>input {
    accent-color: teal;
}

button {
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 10px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #00ffff80;
    transition: all 0.4s ease-in-out;
}

/* button::before { */
/*     content: ""; */
/*     position: absolute; */
/*     height: 100%; */
/*     width: 100%; */
/*     background: conicgra; */
/*     inset: 0; */
/*     z-index: -1; */
/* } */

button:hover {
    background: #00808099;
    color: cyan;
    border-color: cyan;
    box-shadow: 0 0 10px cyan, inset 0 0 1rem cyan;
}

@media (max-width: 576px) {
    body {
        padding: 2rem 0;
    }

    form {
        width: 90%;
        padding-bottom: 2.5rem;
    }

    form>h2 {
        background: linear-gradient(180deg, yellow, cyan, lightgreen, orange);
        background-clip: text;
        -webkit-background-clip: text;
    }

    #gender {
        padding: 1rem;
    }

    button {
        margin-top: 20px;
    }
}
